table {
    width: 100%;
    border: 1px solid #000000;
    border-collapse: collapse;
  }
td {
    border: 1px solid black;
}
.slash{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="gray" /></svg>');
}